In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
city_file = "./cities.csv"

In [3]:
city_df = pd.read_csv(city_file)
city_df

,city,cloudiness,country,date,humidity,lat,lon,main_temp,max_temp,pressure,timezone,visibility,wind.deg,wind_speed
0,Mar del Plata,90.0,AR,1.603590e+09,100.0,-38.00,-57.56,15.30,16.11,1014.0,-10800.0,10000.0,70.0,2.60
1,Kitimat,0.0,CA,1.603590e+09,53.0,54.05,-128.65,1.67,1.67,1035.0,-25200.0,10000.0,53.0,2.18
2,Māngrol,36.0,IN,1.603590e+09,62.0,21.12,70.12,26.85,26.85,1011.0,19800.0,10000.0,20.0,2.41
3,Road Town,88.0,VG,1.603590e+09,83.0,18.42,-64.62,28.15,28.33,1014.0,-14400.0,10000.0,67.0,7.15
4,Inzer,97.0,RU,1.603590e+09,91.0,54.22,57.56,4.14,4.14,1010.0,18000.0,6039.0,212.0,1.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,Qinhuangdao,89.0,CN,1.603590e+09,30.0,39.93,119.59,16.94,16.94,1019.0,28800.0,10000.0,254.0,5.80
561,Haselünne,99.0,DE,1.603590e+09,72.0,52.67,7.48,14.65,15.00,1002.0,3600.0,10000.0,200.0,5.70
562,Makakilo City,1.0,US,1.603590e+09,70.0,21.35,-158.09,29.00,29.00,1012.0,-36000.0,10000.0,160.0,3.10
563,Hargeisa,0.0,SO,1.603590e+09,66.0,9.56,44.06,16.22,16.22,1013.0,10800.0,10000.0,35.0,1.52
564,Oodweyne,2.0,SO,1.603590e+09,25.0,9.41,45.06,19.93,19.93,1013.0,10800.0,10000.0,55.0,1.92

In [94]:
# Store 'Lat' and 'Lng' into  locations 
locations = city_df[["lat", "lon"]].astype(float)
# Convert Poverty Rate to float and store
humidity = city_df["humidity"].astype(float)

In [124]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# now we need to drop the city data to get the ideal vacation places: 
# Temperature between 21(c) to 26(c)
# wind speed less than 6 mph
# Zero Cloudiness

vacation_df = city_df[city_df['cloudiness']==0]
vacation_df = vacation_df[vacation_df['wind_speed'] <= 6]
vacation_df = vacation_df[vacation_df['max_temp'] <= 26]
vacation_df = vacation_df[vacation_df['max_temp'] >= 21]
vacation_df.count()

city          18
cloudiness    18
country       18
date          18
humidity      18
lat           18
lon           18
main_temp     18
max_temp      18
pressure      18
timezone      18
visibility    18
wind.deg      18
wind_speed    18
dtype: int64

In [31]:
vacation_df

,city,cloudiness,country,date,humidity,lat,lon,main_temp,max_temp,pressure,timezone,visibility,wind.deg,wind_speed
8,Bilma,0.0,NE,1.603590e+09,21.0,18.69,12.92,22.13,22.13,1013.0,3600.0,10000.0,38.0,5.81
43,Alice Springs,0.0,AU,1.603590e+09,30.0,-23.70,133.88,21.00,21.00,1019.0,34200.0,10000.0,80.0,5.70
58,Saint-Philippe,0.0,RE,1.603590e+09,49.0,-21.36,55.77,18.94,22.00,1017.0,14400.0,10000.0,50.0,3.10
111,Qeshm,0.0,IR,1.603590e+09,22.0,26.96,56.27,21.50,22.00,1013.0,12600.0,10000.0,360.0,3.10
113,Doha,0.0,QA,1.603590e+09,65.0,25.29,51.53,24.32,25.00,1012.0,10800.0,10000.0,320.0,1.50
180,Arlit,0.0,NE,1.603590e+09,17.0,18.74,7.39,24.51,24.51,1014.0,3600.0,10000.0,53.0,3.98
238,Manacapuru,0.0,BR,1.603590e+09,94.0,-3.30,-60.62,25.00,25.00,1009.0,-14400.0,10000.0,211.0,2.76
308,Kapoeta,0.0,SS,1.603590e+09,74.0,4.77,33.59,24.63,24.63,1007.0,10800.0,10000.0,272.0,0.64
329,Sur,0.0,OM,1.603590e+09,50.0,22.57,59.53,24.99,24.99,1013.0,14400.0,10000.0,4.0,5.62
335,Huicheng,0.0,CN,1.603590e+09,56.0,23.04,116.29,23.00,23.00,1018.0,28800.0,10000.0,70.0,2.00
383,Raghunathpur,0.0,IN,1.603590e+09,56.0,23.55,86.67,24.49,24.49,1012.0,19800.0,10000.0,278.0,1.99
389,Kidal,0.0,ML,1.603590e+09,17.0,18.44,1.41,24.68,24.68,1014.0,0.0,10000.0,68.0,4.16
403,Abu Dhabi,0.0,AE,1.603590e+09,36.0,24.47,54.37,25.13,26.00,1012.0,14400.0,10000.0,70.0,3.10
420,San Juan,0.0,AR,1.603590e+09,46.0,-31.54,-68.54,23.55,23.55,1007.0,-10800.0,10000.0,185.0,2.37
434,Quelimane,0.0,MZ,1.603590e+09,88.0,-17.88,36.89,23.00,23.00,1012.0,7200.0,10000.0,60.0,2.60
469,La Cumbre,0.0,AR,1.603590e+09,88.0,-30.98,-64.49,21.43,23.33,1008.0,-10800.0,10000.0,350.0,3.10
503,Barão de Melgaço,0.0,BR,1.603590e+09,83.0,-16.19,-55.97,25.00,25.00,1009.0,-14400.0,10000.0,310.0,2.60
531,Nioro,0.0,GM,1.603590e+09,90.0,13.35,-15.75,25.48,25.48,1010.0,0.0,10000.0,285.0,2.49

In [39]:
# drop useless info in hotel df
hotel_df = vacation_df.drop(columns = ['cloudiness', 'date','humidity','main_temp','max_temp','pressure','visibility','wind.deg',
                                      'wind_speed','timezone'])
# add hotel name column to the df
hotel_df['hotel name']=""
hotel_df

                 city country    lat     lon hotel name
8               Bilma      NE  18.69   12.92
43      Alice Springs      AU -23.70  133.88
58     Saint-Philippe      RE -21.36   55.77
111             Qeshm      IR  26.96   56.27
113              Doha      QA  25.29   51.53
180             Arlit      NE  18.74    7.39
238        Manacapuru      BR  -3.30  -60.62
308           Kapoeta      SS   4.77   33.59
329               Sur      OM  22.57   59.53
335          Huicheng      CN  23.04  116.29
383      Raghunathpur      IN  23.55   86.67
389             Kidal      ML  18.44    1.41
403         Abu Dhabi      AE  24.47   54.37
420          San Juan      AR -31.54  -68.54
434         Quelimane      MZ -17.88   36.89
469         La Cumbre      AR -30.98  -64.49
503  Barão de Melgaço      BR -16.19  -55.97
531             Nioro      GM  13.35  -15.75

In [44]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [ ]:
# for loop to look through all locations in the Hotel data, and fill in the first found hotel name

In [91]:
# go through the hotel_df and set parameters per latitude and longitude
for index, row in hotel_df.iterrows():
    lat = row['lat']
    lon = row['lon']
    params = {
    "location": f"{lat},{lon}",
    "rankby": "distance",
    "type": "hotel",
    "key": g_key}
    
    restr_type = row['city']
    
    # print out log of each city as it's being processed
    
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest {restr_type} hotel is {results[0]['name']}.")
        
        # Save the first search result in my hotel_df 
        hotel_df.loc[index,'hotel name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 8: Bilma.
Closest Bilma hotel is Централна джамия Билма.
------------
Retrieving Results for Index 43: Alice Springs.
Closest Alice Springs hotel is Central Clinic Alice Springs.
------------
Retrieving Results for Index 58: Saint-Philippe.
Closest Saint-Philippe hotel is Le Palmier.
------------
Retrieving Results for Index 111: Qeshm.
Closest Qeshm hotel is مسجد عثمان بن عفان )ملاموسی(.
------------
Retrieving Results for Index 113: Doha.
Closest Doha hotel is Horses Stables, Souq Waqif.
------------
Retrieving Results for Index 180: Arlit.
Closest Arlit hotel is مكن لشراء الذهب. محمد جبرين.
------------
Retrieving Results for Index 238: Manacapuru.
Closest Manacapuru hotel is Kaline Bindá - Fisioterapia e Estética.
------------
Retrieving Results for Index 308: Kapoeta.
Closest Kapoeta hotel is Kapoeta Police Station.
------------
Retrieving Results for Index 329: Sur.
Closest Sur hotel is Arabian Sea Motel.
------------
Retrieving Results for Index 335: Huicheng.
Closest Huicheng hotel is Leying Kindergarten.
------------
Retrieving Results for Index 383: Raghunathpur.
Closest Raghunathpur hotel is Nag Automobiles - Hero MotoCorp.
------------
Retrieving Results for Index 389: Kidal.
Closest Kidal hotel is Marche.
------------
Retrieving Results for Index 403: Abu Dhabi.
Closest Abu Dhabi hotel is Eburn.
------------
Retrieving Results for Index 420: San Juan.
Closest San Juan hotel is Larry's Un Sorbo Para La Distraccion.
------------
Retrieving Results for Index 434: Quelimane.
Closest Quelimane hotel is BARBEARIA BM.
------------
Retrieving Results for Index 469: La Cumbre.
Closest La Cumbre hotel is Iglesia Cristiana Evangelica, La Cumbre..
------------
Retrieving Results for Index 503: Barão de Melgaço.
Closest Barão de Melgaço hotel is Pracinha Augusto Leverger.
------------
Retrieving Results for Index 531: Nioro.
Closest Nioro hotel is Madina Mosque.
------------

In [90]:
# print out the df to make sure I have everything
hotel_df

,city,country,lat,lon,hotel name
8,Bilma,NE,18.69,12.92,Централна джамия Билма
43,Alice Springs,AU,-23.70,133.88,Central Clinic Alice Springs
58,Saint-Philippe,RE,-21.36,55.77,Le Palmier
111,Qeshm,IR,26.96,56.27,مسجد عثمان بن عفان )ملاموسی(
113,Doha,QA,25.29,51.53,"Horses Stables, Souq Waqif"
180,Arlit,NE,18.74,7.39,مكن لشراء الذهب. محمد جبرين
238,Manacapuru,BR,-3.30,-60.62,Kaline Bindá - Fisioterapia e Estética
308,Kapoeta,SS,4.77,33.59,Kapoeta Police Station
329,Sur,OM,22.57,59.53,Arabian Sea Motel
335,Huicheng,CN,23.04,116.29,Leying Kindergarten
383,Raghunathpur,IN,23.55,86.67,Nag Automobiles - Hero MotoCorp
389,Kidal,ML,18.44,1.41,Marche
403,Abu Dhabi,AE,24.47,54.37,Eburn
420,San Juan,AR,-31.54,-68.54,Larry's Un Sorbo Para La Distraccion
434,Quelimane,MZ,-17.88,36.89,BARBEARIA BM
469,La Cumbre,AR,-30.98,-64.49,"Iglesia Cristiana Evangelica, La Cumbre."
503,Barão de Melgaço,BR,-16.19,-55.97,Pracinha Augusto Leverger
531,Nioro,GM,13.35,-15.75,Madina Mosque

In [ ]:
# now add markers layer on top of the heat map:

In [123]:
marker_locations = hotel_df[['lat', 'lon']]

# make lists, then zip all lists together --> then make a dictionary
cities = hotel_df["city"].tolist()
countries = hotel_df["country"].tolist()
hotels = hotel_df["hotel name"].tolist()
latitudes = hotel_df["lat"].tolist()

info_dict = dict((z[0],list(z[1:])) for z in zip(latitudes,cities,countries,hotels))

# Pin the google map and add all info by going through the dictionary I just made
markers = gmaps.marker_layer(marker_locations,
    info_box_content= [f"City: {info_dict[info][0]},Country:{info_dict[info][1]}, Name: {info_dict[info][2]}" for info in info_dict] )

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))